doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "/assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(property="og:locale",content="zh_TW")
    meta(property="og:title",content="自己的活動自己拍!")
    meta(property="og:image",content="http://thumb.g0v.photos/#{pid}")
    meta(property="og:image:type",content="image/jpeg")
    meta(property="og:image:width",content="400")
    meta(property="og:image:height",content="400")
    meta(name="viewport",content="initial-scale=1, maximum-scale=1,width=780")
    title 自己的活動自己拍 - g0v hackath9n photo stream
    // libraries
    include ../library.jade
    // custom files
    link(rel="icon",type="image/gif",href="/favicon.png")
    link(rel="stylesheet",type="text/css",href="/index.css")
    link(rel="stylesheet",type="text/css",href="/share.css")
    script(type="text/javascript",src="#{assets}/isotope/isotope.pkgd.min.js")
    //-script(type="text/javascript",src="skrollr.min.js")
    script(type="text/javascript",src="/jquery.sticky.js")
    script(type="text/javascript",src="/share.js")
  body(ng-app,ng-controller="share",ng-init="pid='#{pid}'")
    #menu(data-anchor-target="#banner",data-top-top="@class:static",data-top-bottom="@class:fixed")
      a.item(href="http://g0v.photos",target="_blank") g0v.photos
      a.item(href="http://g0v.tw",target="_blank") 官方網站
      a.item(href="http://hack.g0v.tw",target="_blank") hackfolder
      a.item(href="http://g0v.hackpad.com",target="_blank") hackpad
      a.item(href="http://community.g0v.tw",target="_blank") 新・後勤中心
      a.item(href="https://www.facebook.com/g0v.tw",target="_blank") 粉絲團
      a.item(href="#",ng-click="gotop()") 回頁首
      a.item.logo: img(src="/img/logo.gif")
    br(style="clear:both")
    //-#loading(ng-show="uploading")
    .row.detail
      .col-sm-7
        .photo
          img(src="http://thumb.g0v.photos/#{pid}")
      .col-sm-5
        .quote-mark
        .quote
          .ib
            #desc(ng-class="{'empty':!desc || !loaded}") {{desc || '(沒有描述)'}}
            .author
              | - by 
              #author {{author || 'anonymous'}}

        hr
        .action
          .label.label-primary
            i.glyphicon.glyphicon-info-sign
            |  {{license || 'Public Domain'}}
        br
        .action 
          .item.like: a(ng-click="toggleLike()")
            i.glyphicon(ng-class="{'glyphicon-heart':like,'glyphicon-heart-empty':!like}")
            |  喜歡
          .item: a(href="http://g0v.photos/s/#{pid}")
            i.glyphicon.glyphicon-link
            |  連結
          .item: a(href="http://raw.g0v.photos/#{pid}")
            i.glyphicon.glyphicon-save
            |  下載原始大小
    #footer
      b 自己的活動自己拍 
      | / g0v.photos / 
      a#attributions(data-container="body",data-toggle="popover",data-placement="top",data-content="Cloud-Upload / Chris Kerr / CC-BY 3.0. Quote / Matthew Ryan Miller / CC-BY 3.0 ") attributions

