doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "/assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(property="og:locale",content="zh_TW")
    meta(property="og:title",content="自己的活動自己拍!")
    meta(property="og:image",content="http://thumb.g0v.photos/#{pid}")
    meta(property="og:image:type",content="image/jpeg")
    meta(name="viewport",content="initial-scale=1, maximum-scale=1,width=780")
    title 自己的活動自己拍 - g0v hackath9n photo stream
    // libraries
    include library.jade
    // custom files
    link(rel="icon",type="image/gif",href="/favicon.png")
    link(rel="stylesheet",type="text/css",href="/css/index.css")
    link(rel="stylesheet",type="text/css",href="/css/share.css")
    script(type="text/javascript",src="#{assets}/isotope/isotope.pkgd.min.js")
    //-script(type="text/javascript",src="skrollr.min.js")
    script(type="text/javascript",src="#{assets}/misc/jquery.sticky.js")
    script(type="text/javascript",src="/js/share.js")
    script(type="text/javascript",src="/context")
  body(ng-app="main",ng-controller="share")
    //- ,ng-init="pic='#{pic}'")
   
    #menu
      a.item(href="http://g0v.photos") g0v.photos
      .dropdown.item
        a.dropdown-toggle(href="#",data-toggle="dropdown")
          | 零時政府 
          i.glyphicon.glyphicon-chevron-down
        ul.dropdown-menu
          li: a(href="http://g0v.tw",target="_blank") 官方網站
          li: a(href="http://hack.g0v.tw",target="_blank") 協作平台
          li: a(href="http://g0v.hackpad.com",target="_blank") 線上共筆
          li: a(href="http://community.g0v.tw",target="_blank") 後勤中心
          li: a(href="https://www.facebook.com/g0v.tw",target="_blank") 粉絲專頁
        
      .pull-right
        //a.item(ng-click="login()",ng-show="!user") 登入
        //.dropdown.profile.item(ng-show="user")
          a.dropdown-toggle(href="#",data-toggle="dropdown")
            img(ng-attr-src="http://graph.facebook.com/{{user.id}}/picture",ng-if="user")
            | {{user.name}} 
            i.glyphicon.glyphicon-chevron-down
          ul.dropdown-menu
            li: a 設定
            li: a(ng-click="logout()") 臉書登出
        a.item(href="/") 回首頁
      a.item.logo(href="#"): img(src="/img/logo.gif")

    br(style="clear:both")
    .row.detail
      .col-sm-7
        .photo
          img(src="//medium.g0v.photos/#{pic.id}")
      .col-sm-5
        .quote-mark
        .quote
          .ib
            #desc #{pic.desc || '(沒有描述)'}
            .author
              | - by 
              #author #{pic.author || 'anonymous'}

        hr
        .action
          .label.label-primary
            i.glyphicon.glyphicon-info-sign
            |  #{pic.license || 'Public Domain'}
        br
        .action 
          .item.like: a(ng-click="toggleLike()")
            i.glyphicon(ng-class="{'glyphicon-heart':like,'glyphicon-heart-empty':!like}")
            |  喜歡
          .item: a(href="http://g0v.photos/s/#{pic.id}")
            i.glyphicon.glyphicon-link
            |  連結
          .item: a(href="http://raw.g0v.photos/#{pic.id}")
            i.glyphicon.glyphicon-save
            |  下載原始大小
    #footer
      b 自己的活動自己拍 
      | / g0v.photos / 
      a#attributions(data-container="body",data-toggle="popover",data-placement="top",data-content="Cloud-Upload / Chris Kerr / CC-BY 3.0. Quote / Matthew Ryan Miller / CC-BY 3.0 ") attributions

